<div class="clear"></div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">Copyright &copy; 2017 - <a href="http://altor.herokuapp.com/">Altor</a> | All Rights Reserved
        </p>
    </div>
</div>