<% layout('boilerplate') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Registered Users</h1>
        </div>
    </div>
    <% eUser.forEach(function(user){ %>
    <div class="row">
        <div class="col-lg-2 well well-sm">
            <%= user.email %> (<%= user.role %>)
        </div>
        <div class="col-lg-3">
            <a href="/del-user?email=<%= user.email %>" class="btn btn-default">delete</a>
        </div>
    </div>
    <% }); %>
</div>