<% layout('boilerplate') %>
<%include ../partials/validation-libraries.ejs %>
<section>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title-one"><span class="fa fa-sign-in"></span>Business sign up</h1>
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <!-- SignUp FORM -->
            <form action="/business-sign-up" id="businessSignUpForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Business Name</label>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="firstName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label>Category</label><!-- to insert here a js code that create n input text box -->
                    <input type="text" class="form-control" name="category" required>
                </div>
                <div class="form-group">
                    <label>Enter logo-picture path</label>
                    <input type="file" class="form-control" name="pictureFile" >
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" class="form-control" name="phone" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" name="country" required>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input type="text" class="form-control" name="city" required>
                </div>
                <div class="form-group">
                    <label>Street</label>
                    <input type="text" class="form-control" name="street" required>
                    <label>Number</label>
                    <input type="number" class="form-control" name="streetNumber" required>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Signup</button>
            </form>
            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</div>
</section>
<script>
$(document).ready(function() {
$('#businessSignUpForm').validate()});
</script>