<% layout('boilerplate') %>
<script src="js/client_signup.js"></script>
<section>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1><span class="fa fa-sign-in"></span>Client sign up</h1>
            <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <!-- SignUp FORM -->
            <form id="form" action="/client-sign-up" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" type="text" class="form-control" name="email" onfocusout='checkEmail();'>
                    <div id="emailIssue" class="alert alert-danger" style="display: none"> Please enter a valid mail</div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="pass" class="form-control" name="password" onfocusout='validatePassword(pass);'>
                    <div id="passwordIssue" class="alert alert-danger" style="display: none"> Please enter a valid password</div>

                </div>
                <div class="form-group">
                    <label>Again...</label>
                    <input type="password" id="pass2" class="form-control" name="password2" onfocusout='verifyPassword();'>
                    <div id="passConfirm" class="alert alert-danger" style="display: none">Mismatch</div>
                </div>
                <div class="form-group">
                    <label>Phone number</label>
                    <input type="number" class="form-control" name="phone_number">
                </div>
                <div class="form-group">
                    <label>First name</label>
                    <input type="text" id="firstName" class="form-control" name="first_name">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" id="lastName" class="form-control" name="last_name">
                </div>
                <button type="submit" id="submit" class="btn btn-warning btn-lg">Signup</button>
                <div id="submitValidate" class="alert alert-danger" style="display: none">Somthing wrong</div>
            </form>
            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</div>
</section>