<% layout('boilerplate') %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title-one">Manage shift prototypes</h1>
        </div>
    </div>
    <% if (wizardMode) { %>
    <div class="row">
        <div clas="col-md-6 col-md-offset-3 text-center">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Business creation wizard</h3>
                </div>
                <div class="panel-body"><p>
                        Every business defines their shifts differently - how many customers they can serve at a time and what services are offered at any given point. These are called shift prototypes.<br/>
                        In this page you can manage shift prototypes that you use in your business. <br />
                        Define the shift's name, and the staff of each statuin.<br />
                        When you're done creating shift prototypes, continue to <a href="/assign-shifts">Assign shifts to workdays</a>
                    </p></div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <% if (shifts.length <= 0) { %>
            <p class="text-muted">You have yet to add any shift prototypes!</p>
            <% } else { %>
            <ul class="list-group">
                <% shifts.forEach(function(shift){ %>
                <li class="list-group-item"> <%= shift.title %> </li>
                <% }); %>
            </ul>
            <% } %>
            <!-- Add shifts -->
            <form action="/add-shift" method="get">
                <button type="submit" class="btn btn-warning btn-lg">Add shift</button>
            </form>
        </div>
    </div>
</div>