<% layout('boilerplate') %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Manage default shifts</h1>
            <% shifts.forEach(function(shift){ %>
            <div class="row">
                <div class="col-md-12">
                    <%= shift.title %>
                </div>
            </div>
            <% }); %>
            <!-- Add shifts -->
            <form action="/add-shift" method="get">
                <button type="submit" class="btn btn-warning btn-lg">Add shift</button>
            </form>
        </div>
    </div>
</div>