<% layout('boilerplate') %>
<section>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="title-one">Manage Your business</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="list-group">
                <a href="/manage-shifts" class="list-group-item">Manage shift prototypes</a>
                <a href="/assign-shifts" class="list-group-item">Assign shifts</a>
                <a href="/manage-services" class="list-group-item">Manage given services</a>
                <a href="/business-queue-status" class="list-group-item">Business queue status</a>
            </div>
        </div>
    </div>
</div>
    </section>