<% layout('boilerplate') %>
<div class="container">
    <div class="jumbotron">
        <h1>Message board</h1>
        <p>Incoming messages</p>
        <% if (user && user.role == 'client') { %>
        <div>
            <% messages.forEach(function(message){%>
                <%=message%>
            <br/>
            <% })%>
        </div>
        <% } else { %>
        <div> Please go to your branch managment panel to see incoming messages</div>
        <% } %>
    </div>
</div>